<h1>Use of this program.</h1>

<div>
<p>This program is here to help for car rental companies who  <br> 
   struggle with the problem that people who rent cars drive   <br>
   through toll booths and it automatically charges the cars ezpass.<br> <br>
</p>

<p>From now on, just enter every customer's information when they <br>
 take the car, and when you get the ezpass statement just upload it  <br>
 to the program, and the program will charge all the customers responsible  <br>
 for the charges.! <br>
</p>

<p class="small-text"> *(As this is a demo, its not charging the cards just returning the list to be charged) </p>

</div>